<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scientist Recognition</title>
</head>
<body>
    <div class="container">
        <div class="video-container">
            <h3 class="mt-5">Scientist Face Recognition</h3>
            <img src="{{url_for('video_feed')}}" width="600px" id="show">
        </div>
    </div>
    <div id="people">
        <p>It can recognise only:</p>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Albert_Einstein">Albert Einstein</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Satyendra_Nath_Bose">Satyendra Nath Bose</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Isaac_Newton">Sir Issac Newton</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Srinivasa_Ramanujan">Srinivasa Ramanujan</a></li>
        </ul>
    </div>
    <div class="footer">
        <hr>
        <p>Creater By Pradeep</p>
        <ul>
            <li><a href="https://github.com/coder-elite7699">Github</a></li>
            <li><a href="mailto:5761380@gmail.com">Email: 5761380@gmail.com</a></li>
        </ul>
    </div>
</body>
</html>
